<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp3xtest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcp3xtest.Perspective"
            id="rcp3xtest.Perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="rcp3xtest.View2"
            id="rcp3xtest.View2"
            name="View2">
      </view>
      <view
            allowMultiple="true"
            class="rcp3xtest.NavigationView"
            id="rcp3xtest.NavigationView"
            name="Navigator">
      </view>
   </extension>
   <extension
         id="*"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="rcp3xtest.perspective">
         <view
               closeable="false"
               id="rcp3xtest.navigationView"
               minimized="false"
               moveable="false"
               ratio="0.4"
               relationship="stack"
               relative="rcp3xtest.NavigationView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="rcp3xTest.view2"
               minimized="false"
               moveable="false"
               ratio="0.6"
               relationship="stack"
               relative="rcp3xtest.View2"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open file...">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New file"
                  style="push">
            </command>
            
         </menu>
      </menuContribution>
   </extension>

</plugin>
