<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="rcp3xtest.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rcp3xtest.Perspective"
            id="rcp3xtest.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="rcp3xTest.View2"
            id="rcp3xTest.View2"
            name="View2">
      </view>
      <view
            allowMultiple="true"
            class="rcp3xtest.navigationView"
            id="rcp3xtest.navigationView"
            name="Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  label="Open file...">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            
         </menu>
      </menuContribution>
   </extension>

</plugin>
